<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--浏览器参数-->
    <!--    <parameter name="browserType" value="Chrome"/>-->
    <test verbose="2" preserve-order="true" name="D:/易观/java project">
        <classes>
            <class name="com.qa.testcase.UbaTester">
            <methods>
                <include name="test_001"/>
            </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.qa.listener.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>
